*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    
    background-color: #ffbd59;
}
.nav-links{
    flex: 1;
    text-align: center;
    opacity: 1;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: transparent;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    background: #fff;
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.button-cls{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button-cls:hover{
    border: 1px solid #00ff00;
    /*background: #f44336;*/
    transition: 0.5s;
}
nav .fa{
    display: none;
}
@media(max-width: 385px){
    .nav-links ul li a{
        font-size: 14px;
    }
    nav{
        padding: 7px 4%;
    }
}
@media(max-width: 270px){
    .nav-links ul li a{
        font-size: 10px;
    }
    nav{
        padding: 4px 3%;
    }
}
@media(max-width: 220px){
    .nav-links ul li a{
        font-size: 7px;
    }
    nav{
        padding: 1px 2%;
    }
}
@media(max-width: 180px){
    .nav-links ul li a{
        font-size: 5px;
    }
    nav{
        padding: 0.5px 1%;
    }
}
/*projects*/
.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
h1{
    font-size: 36px;
    font-weight: 800;
}
p{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.projects-col{
    flex-basis: 23%;
    background: #d6d6d6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.25s;
}
h3{
    text-align: center;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}
.projects-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/*link-click*/
.link-click{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
a, u {
    text-decoration: none;
}
@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
}
/*footer*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
    /*icons*/
    .icons{
        display: flex;
        justify-content: center;
    }
    .an{
        margin: 5px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
        background: #ff914d;
        border-radius: 20%;
    }
    .an a{
       color: #fff;
    }
    .ang{
        margin: 5px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
        background: #5ce1e6;
        border-radius: 20%;
    }
    .ang a{
        color: #fff;
    }
    .dis{
        margin: 5px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background: #55a0fb;
        border-radius: 20%;
    }
    .dis a{
        color: #fff;
    }
